# Python cache
__pycache__/
*.py[cod]
*.so
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Jupyter notebooks
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Local data files
data/